%h1 Messages#index
%p Find me in app/views/messages/index.html.haml

= link_to "New Message", new_message_path
%ul
  - @messages.each do |message|
    %li
      %p
        = "#{message.sender.first_name}, #{message.receivers.map(&:first_name).join(", ")}"
      %p= link_to truncate(message.body, length: 100), message_path(message)
    
