.snap-drawers
  .background
  .snap-drawer.snap-drawer-left#left-drawer#menu
    %header.bar-settings
      .title#down
        %h1#settings Settings
    %ul.table-view
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        Share
      %li.list
        Share
      %li.list
        Share
      %li.list
        Share
      %li.list
        Share
      %li.list
        Share

  .snap-drawer.snap-drawer-right#right-drawer#inbox.background
    %header.bar-settings
      .title#down
        %h1#settings Messages
    %ul.table-view
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
