.snap-drawers
  .background
  .snap-drawer.snap-drawer-left#left-drawer#menu
    %header.bar-settings
      .title#down 
        %h1#settings Settings
    %ul.table-view
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        Share
      %li.list
        Share
      %li.list
        Share
      %li.list
        Share
      %li.list
        Share
      %li.list
        Share

  .snap-drawer.snap-drawer-right#right-drawer#inbox.background
    %header.bar-settings
      .title#down 
        %h1#settings Messages
    %ul.table-view
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"
      %li.list
        = image_tag src="http://images.ak.instagram.com/profiles/profile_49039698_75sq_1344734120.jpg", :class => "profile"    

#content.snap-content.background-discover
  %header.bar-nav
    %a.button#toggle-left
      = image_tag (src="settings_line.svg")
    %h1.title Linker
    %a.button#toggle-right
      = image_tag (src="messages_line.svg")

    - if !@match.nil?
      %h1= @match.first_name 
      = form_for Like.new do |f|
        = f.hidden_field :likee_id, value: @match.id
        = f.submit "Like"
      %button Next


= content_for :scripts do
  :coffee
    jQuery ->
      snapper = new Snap(element: document.getElementById("content"))
