= render "/menu/menu"

#content.snap-content.background-discover
  %header.bar-nav
    %a.button#toggle-left
      = image_tag (src="settings_line.svg")
    %h1.title Linker
    %a.button#toggle-right
      = image_tag (src="messages_line.svg")

  .content
    .discover
    - if !@match.nil?
      %h1= @match.first_name
    .inline
      %button.button.button-next Next
      = form_for Like.new do |f|
        = f.hidden_field :likee_id, value: @match.id
        = f.button "Like", :class => 'button button-like'




= content_for :scripts do
  :coffee
    jQuery ->
      snapper = new Snap(element: document.getElementById("content"))
