!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}
    %title Linker
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    / .snap-drawers
    /   .snap-drawer.snap-drawer-left#left-drawer
    /     %ul.list
    /     %h2 
    /       Snap.js
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share

    /   .snap-drawer.snap-drawer-right#right-drawer
    /     %ul.list
    /     %h2 
    /       Snap.js
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share
    /       %li.list-divider
    /         Share    

  = yield

  = content_for :scripts do
    - if current_user && !cookies[:position] && false
      :coffee                     
        jQuery ->                 
          # Get user location     
          linker.find_user_geolocation() 

  %script{type:"text/javascript", src:"http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"}
  = yield :scripts
